
html, body{
  padding: 0;
  margin: 0;
  height:100%;
}
body{
  font-family: 'Roboto';
  background-color: #F3F6F4;
}

/*///////////////// MOBIL VISNING ////////////////////*/
@media only screen
and (min-device-width : 320px){
  button{
    min-width: 18vw;
    letter-spacing: 0.1em;
    margin: 25px;
    outline: inherit;
    background: none;
    border: none;
    border-radius: 25px;
    color: #F3F6F4;
    background-color: #4b9387;
    font-family: inherit;
    font-size: 2em;
    padding: 25px;
  }
  input[type="number"] {
      -webkit-appearance: textfield;
         -moz-appearance: textfield;
              appearance: textfield;
      width: 150px;
      height: 7vh;
      font-size: 2em;
      text-align: center;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
  }
  #orderContainer {
    top: 0px;
    background-color: #F3F6F4;
    position: fixed;
    width: 100%;
    height: 90vh;
  }

  .header {
    box-shadow: 0px 10px 23px -6px rgb(158 158 158);
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
  }
  .order {
    box-shadow: inset 0px 5px 6px -6px rgb(158 158 158);
    overflow-y: scroll;
    height: 100%;
}
.orderDetailsContainer, button {
    border-radius: 10px;
}
.orderDetailsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  .container{
    padding-top: 50px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .orderProductContainer, .productContainer {
      padding: 15px;
      margin-bottom: 15px;
      box-shadow: 0px 5px 5px 0px rgb(158 158 158);
  }
  .buttonContainer{
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottomNavContainer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .totalPriceContainer {
      display: flex;
      justify-content: space-between;
  }
  .indexButton{
    transition:.1s ease-in-out;
    box-shadow: 0px 10px 23px -6px rgba(69,136,125,1);
    width: 60%;
  }
  .indexButton:active{
    box-shadow: 0px 4px 23px -6px rgba(69,136,125,1);
    background-color: #3e736a;
    transition:.1s ease-in-out;
    transform:translateY(4px);
    width: 60%;
  }
  .addBtn{
      box-shadow: 0px 5px 10px -6px rgba(69,136,125,1);
      padding: 5px 10px 5px 10px;
      margin: auto 5px;
      border-radius: 10px;
  }
  .addBtn:active{
    box-shadow: 0px 0px 10px -6px rgba(69,136,125,1);
    background-color: #3e736a;
    transition:.1s ease-in-out;
    transform:translateY(4px);
  }
  .tabcontent {
    overflow-y: scroll;
    display: none;
    width: 100%;
    flex-direction: column;
    padding-bottom: 10vh;
  }
  .beverageNameLabel, .dessertNameLabel {
      margin-block-start: 0.3em;
      font-weight: 300;
      font-size: 2em;
  }
  .bottomNavButton{
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px -10px 23px -6px rgba(69,136,125,1);
    margin: 0;
    width: 100%;
  }
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Light.ttf);
}
