html {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #F3F6F4;
    margin: 0;
    padding: 0;
}

button{
    letter-spacing: 0.1em;
    outline: inherit;
    background: none;
    border: none;
    color: #F3F6F4;
    background-color: #4b9387;
    font-family: inherit;
}
input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
    width: 30px;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.orderContainer {
    box-shadow: 0px 2px 6px 0px rgb(158 158 158);
    padding: 15px 15px 10px 15px;
    margin: 15px;
}
.orderContainer h4,h2{
  margin: 0;
}
.currentOrderContainer {
    box-shadow: 0px 5px 6px -6px rgb(158 158 158);
}
.orderHistoryContainer {
  width: 100%;
}
.orderDetailsContainer {
    display: flex;
    justify-content: flex-end;
}
.orderDetailsContainer, button {
    border-radius: 10px;
}
.order{
    box-shadow: inset 0px 5px 6px -6px rgb(158 158 158);
    overflow-y: scroll;
    height: 40vh;
}
.orderTotal{
  text-align: right;
}
.productDetailsContainer {
  display: flex;
  justify-content: space-between;
}
.addBtn{
    box-shadow: 0px 5px 10px -6px rgba(69,136,125,1);
    padding: 5px 10px 5px 10px;
    margin: auto 5px;
    font-size: 1.5em;
    border-radius: 10px;
}
.buttonContainer {
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.pageContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100vh;
}
.sideBarContainer {
    box-shadow: 10px 0px 23px -6px rgb(158 158 158);
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    row-gap: 30px;
    justify-content:flex-start;
}
.sideBarBtn {
    padding: 25px;
    border-radius: 25px;
    transition:.1s ease-in-out;
    box-shadow: 0px 10px 23px -6px rgba(69,136,125,1);
    width: 60%;
    font-size: 1.5em;
}
.sideBarBtn:active{
    box-shadow: 0px 4px 23px -6px rgba(69,136,125,1);
    background-color: #3e736a;
    transition:.1s ease-in-out;
    transform:translateY(4px);
    width: 60%;
}

.mainBox {
    padding-left: 25px;
    grid-column: 2 / 5;
    margin: 1px;
    height: 100%;
}

.itemContainer {
    width: 50%;
    row-gap: 30px;
}
.dessertContainer {
    padding: 15px;
    box-shadow: 0px 5px 5px 0px rgb(158 158 158);
}
.beverageContainer {
    padding: 15px;
    box-shadow: 0px 5px 5px 0px rgb(158 158 158);
}
.beverageNameLabel, .dessertNameLabel {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    font-weight: 300;
    font-size: 1.5em;
}

.totalPriceContainer {
    display: flex;
    justify-content: space-between;
}
